<template class="background">
  <v-form class="centered">
    <v-card class="mx-auto menu" max-width="800">
      <slot></slot>
      <v-text-field
        v-model="name"
        :error-messages="nameErrors"
        label="User Name"
        required
        @input="$v.name.$touch()"
        @blur="$v.name.$touch()"
      ></v-text-field>
      <v-text-field
        v-model="password"
        label="Password"
        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
        :error-messages="passwordErrors"
        :type="show ? 'text' : 'password'"
        @click:append="show = !show"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
      ></v-text-field>
      <v-card-actions>
        <v-btn
          v-if="smartcardEndpoint"
          width="120"
          color="success"
          @click="smartcardAuth"
          >smartcard<i class="far fa-id-card"></i
        ></v-btn>
        <v-spacer />
        <v-btn width="120" color="success" @click="login">login</v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="300">
      <v-card>
        <v-card-title>Login Information</v-card-title>
        <v-card-text>{{ message }}</v-card-text>
        <v-card-actions>
          <v-btn @click="dialog = false">dismiss</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  name: "Login",
  mixins: [validationMixin],

  data: () => ({
    name: "",
    password: "",
    show: false,
    dialog: false,
    message:
      "testing saying a lot of workds to see what this looks like with a lot of text"
  }),

  props: {
    loginEndpoint: String,
    smartcardEndpoint: String
  },

  validations: {
    name: { required },
    password: { required }
  },

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Username is required.");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required.");
      return errors;
    }
  },
  methods: {
    login: function() {
      let that = this;
      this.$v.$touch();
      if (!this.$v.$anyError) {
        console.log("submiting login");
        axios
          .post(this.loginEndpoint, {
            username: this.name,
            password: this.password
          })
          .then(resp => {
            console.log(resp);
            that.$emit("login", resp.data);
          })
          .catch(err => {
            console.log(err.response);
            that.message = err.response.data;
            that.dialog = true;
          });
      }
    },
    smartcardAuth: function() {
      let that = this;
      axios
        .get(this.smartcardEndpoint, {})
        .then(resp => {
          console.log(resp);
          that.$emit("login", resp.data);
        })
        .catch(err => console.log(err));
    }
  }
};
</script>

<style scoped>
.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu {
  height: 100%;
}
.background {
  background-color: black;
}
</style>
