<template>
  <v-app>
    <v-content>
      <Login
        @login="login"
        loginEndpoint="http://localhost:5000/api/v1/login"
        smartcardEndpoint="https://localhost/card"
      >
        <v-img src="@/assets/advance_wars.jpg"></v-img>
      </Login>
    </v-content>
  </v-app>
</template>

<script>
import Login from "./components/Login";

export default {
  name: "App",

  components: {
    Login
  },

  data: () => ({
    //
  }),
  methods: {
    login: function(token) {
      console.log(token);
    }
  }
};
</script>
